product/app/NgaResources/NgaResources.apk
product/app/GoogleCamera/GoogleCamera.apk
product/priv-app/Velvet/Velvet.apk
coral-rpp1.200123.016-factory-f8b1a17b.zip
system/system/apex/com.android.vndk.current.apex
